p, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans KR";
}

// 사이드바 넓이
@media (min-width: 66.5rem) {
    .site-nav, .site-header, .site-footer {
        width: 20rem;
    }
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
    color: #959396;
    font-size: smaller;
}

@media (min-width: 55rem) {
    .nav-list .nav-list-item .nav-list-link {
        min-height: 2rem;
        line-height: 1.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: smaller;
    }
}

// 사이드바 링크 색
.nav-list .nav-list-item .nav-list-link.external:nth-of-type(1) {
    color: #000000;
  }
  
.nav-list .nav-list-item .nav-list-link.external:nth-of-type(2) {
  color: #008f76;
}

.nav-list .nav-list-item .nav-list-link.external:nth-of-type(3) {
  color: #f54;
}

.nav-list .nav-list-item .nav-list-link.external:nth-of-type(4) {
  color: #000000;
}