@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuozeLGC5nwuDo-KBTUm6CryotyJROlrnQ.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

li, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans KR";
}

h1, h2, h3 {
  margin-top: 3.5em !important;
}

h4, h5, h6 {
  margin-top: 2.0em !important;
}