<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> <!--폰트 추가-->

<!-- Google adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3426230094241844" crossorigin="anonymous"></script>

<script defer src="{{ '/assets/js/vendor/lunr.stemmer.support.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/vendor/lunr.multi.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/vendor/lunr.ko.min.js' | relative_url }}"></script>